body {font-family: 'Istok Web', sans-serif;}
.bracket {width: 100%;display: flex; flex: 1; padding: 0 2%;}
.container {width: 25%; display: flex; flex-direction:column; padding: 0 1.5%;height: 100%;}
/* .container {align-items: center; height: 100%;} */
/* .round {display:flex;flex-direction:column;} */
.score {float: right;color: #2C7399;font-weight: bold;font-family: 'Roboto Condensed', sans-serif;}
.round-details {font-family: 'Roboto Condensed', sans-serif; color: #2C7399;text-transform: uppercase;text-align: center;padding: 20px 0;}
.round {
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}

/* .matchup {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
} */

/* .team {
  flex: 1;
  justify-content: space-evenly;
} */
