/* .player-score {
    font-size: 1em;
} */

/* .score {
    margin: 2px;   
} */

/* .player{ */
    /* display: flex; */
    /* padding: 3%; */
    /* min-height: 10%; */
    /* margin: auto 0; */
    /* font-size: small; */
    /* width: 100%; */
/* } */

/* .player-name {
    width: 80%;
} */